<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-8 pb-8">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h1 id="main-text" class="display-4 mb-4 text-center"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead"><%= t("landing.about", href: link_to(t("greenlight"), "https://docs.srcf.net/timeout", target: "_blank", rel: "noopener")).html_safe %></p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-12 col-lg-8">
     	  <h2  class="text-center">Documentation and getting started</h2>
        <p class="lead">
          To get started with Timeout please visit <a href="https://docs.srcf.net/timeout" target="_blank">our documentation</a>. We provide a detailed overview of Timeout as well as plenty of specific advice for getting started, whether you're using Timeout for a supervision, tutorial meeting, faculty meeting or just a chat with friends.
          <br>
          <strong>Please note that if you just want to join a meeting, you do not need to log in.</strong>
        </p>
	    </div>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-12 col-lg-8">
     	  <h2 class="text-center">Terms of Service and Privacy Policy</h2>
        <p class="lead">
          Find out more about our terms of service and privacy policy <a href="https://docs.srcf.net/timeout/tos.html" target="_blank">here</a>.
        </p>
	    </div>
    </div>

  </div>
</div>

<%= render "main/components/features" %>
