<div class="sessions pb-5">
  <div class="container pt-6">
    <div class="row mt-2">
      <div class="col-md-6">
        <p class="subtitle">Shared Files</p>
      </div>
      <% if current_user.present? && (@room.owned_by?(current_user) || @shared_room) %>
        <div class="col-md-6 mb-4">
          <div class="d-inline-block float-right">
            <%= form_with model: @room, url: update_shared_files_room_path(@room), local: true do |form| %>
              <label class="btn btn-outline-primary">
                Upload File(s)
                <%= form.file_field :shared_files, multiple: true, direct_upload: true, style: 'display: none;', onchange: 'this.form.submit()' %>
              </label>
              <%= form.submit 'Save', class: 'btn btn-outline-primary d-none' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <hr class="mt-0">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table id="recordings-table" class="table table-hover table-outline table-vcenter text-nowrap card-table">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Size</th>
                  <% if current_user.present? && (@room.owned_by?(current_user) || @shared_room) %>
                    <th>Delete</th>
                  <% end %>
                </tr>
              </thead>
              <tbody id="recording-table">
                <% @room.shared_files.each do |file| %>
                  <tr>
                    <td>
                      <span>
                        <%= link_to(file.filename, retrieve_shared_files_path(file.key), target: '_blank') %>
                        <i class="fa fa-copy ml-2 btn-file-share" data-file-share="<%= retrieve_shared_files_path(file.key) %>"></i>
                      </span>
                    </td>
                    <td><%= number_to_human_size(file.byte_size) %></td>
                    <% if current_user.present? && (@room.owned_by?(current_user) || @shared_room) %>
                      <td>
    <%= link_to 'Delete', delete_shared_file_room_path(@room, key: file.blob.key), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
